@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100vh;
	height: 100svh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@layer base {
	@layer base {
		:root {
			--background: 0 0% 100%;
			--foreground: 222.2 84% 4.9%;
			--card: 0 0% 100%;
			--card-foreground: 222.2 84% 4.9%;
			--popover: 0 0% 100%;
			--popover-foreground: 222.2 84% 4.9%;
			--primary: 222.2 47.4% 11.2%;
			--primary-foreground: 210 40% 98%;
			--secondary: 210 40% 96.1%;
			--secondary-foreground: 222.2 47.4% 11.2%;
			--muted: 210 40% 96.1%;
			--muted-foreground: 215.4 16.3% 46.9%;
			--accent: 210 40% 96.1%;
			--accent-foreground: 222.2 47.4% 11.2%;
			--destructive: 0 84.2% 60.2%;
			--destructive-foreground: 210 40% 98%;
			--border: 214.3 31.8% 91.4%;
			--input: 214.3 31.8% 91.4%;
			--ring: 222.2 84% 4.9%;
			--radius: 0.5rem;
		}

		.dark {
			--gradient: #1cd8d2;

			--background: 189 50.050000000000004% 3.84%;
			--foreground: 189 7.7% 97.4%;

			--muted: 189 38.5% 14.399999999999999%;
			--muted-foreground: 189 7.7% 54.8%;

			--popover: 189 49.6% 6.24%;
			--popover-foreground: 189 7.7% 97.4%;

			--card: 189 49.6% 6.24%;
			--card-foreground: 189 7.7% 97.4%;

			--border: 189 38.5% 14.399999999999999%;
			--input: 189 38.5% 14.399999999999999%;

			--primary: 189 77% 48%;
			--primary-foreground: 189 7.7% 4.8%;

			--secondary: 189 38.5% 14.399999999999999%;
			--secondary-foreground: 189 7.7% 97.4%;

			--accent: 189 38.5% 14.399999999999999%;
			--accent-foreground: 189 7.7% 97.4%;

			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 189 7.7% 97.4%;

			--ring: 189 77% 48%;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	/* Chrome, Edge, and Safari */
	.styled-scrollbar::-webkit-scrollbar {
		@apply w-1.5;
	}

	.styled-scrollbar::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.styled-scrollbar::-webkit-scrollbar-thumb {
		@apply bg-primary;
	}
}

.use-automation-zoom-in {
	animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
