@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100vh;
	height: 100svh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@layer base {
	:root {
		--gradient: #152331;
		--background: 223 97% 98.28%;
		--foreground: 223 4% 0.56%;

		--muted: 223 4% 91.4%;
		--muted-foreground: 223 2% 41.4%;

		--popover: 223 58% 91.4%;
		--popover-foreground: 223 4% 0.7000000000000001%;

		--card: 223 58% 91.4%;
		--card-foreground: 223 4% 0.7000000000000001%;

		--border: 223 9% 89.56%;
		--input: 223 9% 89.56%;

		--primary: 223 40% 14%;
		--primary-foreground: 223 0.8% 91.4%;

		--secondary: 223 2% 95.7%;
		--secondary-foreground: 223 3.4000000000000004% 11.4%;

		--accent: 223 2% 95.7%;
		--accent-foreground: 223 3.4000000000000004% 11.4%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 223 40% 14%;

		--radius: 0.5rem;
	}

	.dark {
		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: #0acffe;

		--background: 204 64.35% 4.16%;
		--foreground: 204 9.9% 97.6%;

		--muted: 204 49.5% 15.600000000000001%;
		--muted-foreground: 204 9.9% 55.2%;

		--popover: 204 45.2% 6.76%;
		--popover-foreground: 204 9.9% 97.6%;

		--card: 204 45.2% 6.76%;
		--card-foreground: 204 9.9% 97.6%;

		--border: 204 49.5% 15.600000000000001%;
		--input: 204 49.5% 15.600000000000001%;

		--primary: 204 99% 52%;
		--primary-foreground: 204 9.9% 5.2%;

		--secondary: 204 49.5% 15.600000000000001%;
		--secondary-foreground: 204 9.9% 97.6%;

		--accent: 204 49.5% 15.600000000000001%;
		--accent-foreground: 204 9.9% 97.6%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 204 9.9% 97.6%;

		--ring: 204 99% 52%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.use-automation-zoom-in {
	animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
